.header_outer_container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
.Header_container{
     color: black;
     font-size: medium;
}
.Header_logo{
     font-size: 36px;
}